@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

body {
	font-family: sans-serif;
	color: #DDD;
	background: #333;
	padding: 0;
	text-align: center;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container {
  position: relative;
  width: 800px;
  height: 500px;
  /*background: #fff;*/
  background: #222;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #ff0;
  transition: 0.5s;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: rgba(20, 20, 20, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBx form h2 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #BBB;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: rgba(40, 40, 40, 0.85);
  color: #fff;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 400;
}

section .container .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #F73131;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #BBB;
  text-transform: uppercase;
  font-weight: 400;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #F73131;
}

section .container .signinBx {
  pointer-events: initial;
}
.form-holder {
	text-align: center;
}
section .container .signinBx .formBx {
  left: 0%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}